<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Passion One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Paytone One' rel='stylesheet'>
<link rel="stylesheet" href="../Style/recordDataStyle.css">
<link rel="webBrowserIcon" type="image/x-icon" href="../Logo/favicon.ico" />
<script src="antixss.js" type="text/javascript"></script>

<html>
    <head>
        <link rel="apple-touch-icon" sizes="57x57" href="../Logo/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../Logo/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../Logo/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../Logo/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../Logo/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../Logo/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../Logo/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../Logo/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../Logo/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../Logo/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../Logo/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="../Logo/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../Logo/favicon-16x16.png">
        <link rel="manifest" href="../Logo/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="../Logo/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <title>Scout Record</title>
        <h1>RECORD DATA</h1>
    </head>
    <body background="../Pictures/Web Background - Desktop.png">
        <div class="main container">
            <div class="container">
                <p>Match Selection</p>
            </div>
            <div class="container" id="informations">
                <label class="container" id="scout" name="scout">Scout:
                    <input id="textType" type="text">
                </label>
                <label class="container" id="competition">Competition:
                    <input id="textType" type="text">
                </label> 
                <label class="container" id="match">Match:
                    <input id="textType" type="text">
                </label> 
                <label class="container" id="robot">Robot:
                    <input id="textType" type="text">
                </label> 
            </div>
            <div class="container">
                <p>Sandstorm</p>
            </div>
            <div class="container" id="sandstormHabInformation">
                <label class="container">Did not leave:
                    <input id="radioType" type="radio" name="radio">
                </label><br>
                <label class="container">Left HAB 1:
                    <input id="radioType" type="radio" name="radio">
                </label><br>
                <label class="container">Left HAB 2:
                    <input id="radioType" type="radio" name="radio">
                </label><br>
            </div>
            <div class="container" id="sandstormScore">
                Hatch: <input id="sandstormScores" type="number"><br>
                Cargo: <input id="sandstormScores" type="number"><br>
            </div>
            <div class="container">
                <p>Post-Sandstorm</p>
            </div>
            <div class="container" id="postSandstormDiv">
                Hatch: <input id="postSandstormInformation" type="number"><br>
                Cargo: <input id="postSandstormInformation" type="number"><br>
            </div>
            <div class="container" id="defense">
                Defense: <input id="checkbox" type="checkbox"><br>
            </div>
            <div class="container">
                <p>Endgame</p>
            </div>
            <div class="container" id="endgame">
                <label class="container">Return 1:
                    <input id="radioType" type="radio" name="radio">
                </label><br>
                <label class="container">Return 2:
                    <input id="radioType" type="radio" name="radio">
                </label><br>
                <label class="container">Return 3:
                    <input id="radioType" type="radio" name="radio">
                </label><br>
            </div>
            <div id="submit">
                <input type="submit" id="submitone">
            </div>
        </div>
    </body>
</html>

<script>
    var ibmdb = require('ibm_db');
    console.log("Test program to access DB2 sample database");
    /*Connect to the database server
    param 1: The DSN string which has the details of database name to connect to, user id, password, hostname, portnumber 
    param 2: The Callback function to execute when connection attempt to the specified database is completed
    */
    ibmdb.open("DRIVER={DB2}; DATABASE=sample; UID=pkq88236; PWD=j2shl+hchbp05t3x; HOSTNAME=dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net; port=50000", function(err, conn) {
            if(err) {
            /*
            On error in connection, log the error message on console 
            */
                console.error("error: ", err.message);
            }
            else {
                /*
                    On successful connection issue the SQL query by calling the query() function on Database
                    param 1: The SQL query to be issued
                    param 2: The callback function to execute when the database server responds
                */
                conn.query("select * from employee fetch first 5 rows only", function(err, employees, moreResultSets) {
                    console.log("FirstName \t\t LastName");
                    console.log("----------\t\t---------");
                    /*
                        Loop through the employees list returned from the select query and print the First name and last name of the employee	
                    */
                    for (var i=0;i<employees.length;i++) {
                        console.log(employees[i].FIRSTNME, "\t\t", employees[i].LASTNAME);
                    }
                    console.log("-----------------------");
                    /*
                        Close the connection to the database
                        param 1: The callback function to execute on completion of close function.
                    */
                    conn.close(function(){
                        console.log("Connection Closed");
                    });
                });
            }
        });
</script>